<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}"></head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar superior con el botón de menú -->
    <nav th:replace="~{fragments/layout :: navbar}"></nav>

    <!-- Sidebar lateral -->
    <aside th:replace="~{fragments/layout :: menu}"></aside>

    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Gestión de Sedes</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active">Sedes</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      <section class="content">
        <div class="container-fluid">
          <div class="card card-outline card-primary">
            <div class="card-header">
              <h3 class="card-title">Listado de Sedes Registrados</h3>
              <div class="card-tools">
                <a th:href="@{/luxbar/crear sede}" class="btn btn-success btn-sm">
                  <i class="fas fa-plus"></i> Nueva Sede
                </a>
              </div>
            </div>

            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="thead-light">
                <tr>
                  <th>Nombre</th>
                  <th>Direccion</th>
                  <th>Ciudad</th>
                  <th>Telefono</th>
                  <th class="text-center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sede : ${sedes}">
                  <td th:text="${sede.nombre}"></td>
                  <td th:text="${sede.direccion}"></td>
                  <td th:text="${sede.ciudad}"></td>
                  <td th:text="${sede.telefono}"></td>

                  <td class="text-center">
                    <a th:href="@{/luxbar/editar sede/{id}(id=${sede.idSede})}" class="btn btn-warning btn-sm">
                      <i class="fas fa-edit"></i>
                    </a>
                    <button class="btn btn-danger btn-sm" onclick="return confirm('¿Eliminar sede?')">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Scripts necesarios para el funcionamiento de AdminLTE -->
  <div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>
