<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head}"></head>

<body class="hold-transition sidebar-mini">

<div class="wrapper">

    <!-- NAVBAR -->
    <nav th:replace="~{fragments/layout :: navbar}"></nav>

    <!-- SIDEBAR -->
    <aside th:replace="~{fragments/layout :: menu}"></aside>

    <!-- CONTENIDO -->
    <div class="content-wrapper">

        <!-- HEADER -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Gestión de Ventas</h1>
                    </div>

                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            <li class="breadcrumb-item active">Ventas</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- CONTENIDO PRINCIPAL -->
        <section class="content">
            <div class="container-fluid">

                <div class="card card-outline card-primary">

                    <!-- HEADER CARD -->
                    <div class="card-header">
                        <h3 class="card-title">Listado de Ventas Registradas</h3>
                    </div>

                    <!-- TABLA -->
                    <div class="card-body table-responsive p-0">

                        <table class="table table-hover text-nowrap">

                            <thead class="thead-light">
                            <tr>
                                <th>ID Venta</th>
                                <th>Fecha</th>
                                <th>Total</th>
                                <th>Empleado</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="v : ${ventas}">
                                <td th:text="${v.idVenta}"></td>
                                <td th:text="${v.fecha}"></td>
                                <td th:text="${v.total}"></td>
                                <td th:text="${v.empleado != null ? v.empleado.idEmpleado : 'Sin empleado'}"></td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>
        </section>

    </div>
</div>

<!-- SCRIPTS -->
<div th:replace="~{fragments/layout :: scripts}"></div>

</body>
</html>